@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --secondary: #858585;
  --background: #F5F5F5;
  /* --background: gray; */
  --link: #346BD4;
  --light-gray: #B0B0B0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}